<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>添加贫困申请的页面</title>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5/themes/icon.css">
    <script type="text/javascript" src="jquery-easyui-1.5/jquery.min.js">
    </script>
    <script type="text/javascript" src="js/jquery.form.min.js">
    </script>
    <script type="text/javascript" src="jquery-easyui-1.5/jquery.easyui.min.js">
    </script>
    <STYLE>
        input{
            border: 0;
            border: 1px solid #cccccc;
        }
    </STYLE>

</head>
<body>
<form id="addPovertyIdentification" method="post" action="user/add/poverty/identification">
    <div class="inner" style="text-align: center">
        <div style="margin: 20px 0";>
            <label>姓名:</label>
            <input readonly required th:value="${userInfo.getUserName()}"  name="userName" class="easyui-validatebox" data-options="validType:'chinese'"
                    style="width:300px">
            <label>学号:</label>
            <input readonly required th:value="${userInfo.getUserNum()}"  name="userNum" class="easyui-validatebox" data-options="validType:'integer'"
                   style="width:300px">
        </div>

        <div style="margin: 20px 0;">
            <label>学生类型:</label>
            <select required class="easyui-combobox" name="userType" style="width:300px;">
                <option selected value="农村建档立卡贫困家庭学生">农村建档立卡贫困家庭学生</option>
                <option value="最低生活保障家庭学生">最低生活保障家庭学生</option>
                <option value="特困救助供养学生">特困救助供养学生</option>
                <option value="家庭经济困难残疾人子女">家庭经济困难残疾人子女</option>
                <option value="烈士子女">烈士子女</option>
                <option value="孤残学生">孤残学生</option>
                <option value="家庭经济困难退役军人子女">家庭经济困难退役军人子女</option>
                <option value="其他家经济困难学生">其他家经济困难学生</option>
            </select>
            <label>家庭年收入:</label>
            <select required class="easyui-combobox" name="userIncome" style="width:300px;">
                <option selected value="8000以下">8000以下</option>
                <option value="8000-2w">8000-2w</option>
                <option value="2-5w">2-5w</option>
                <option value="5w-8w">5w-8w</option>
                <option value="8w以上">8w以上</option>
            </select>
        </div>

        <div style="margin: 20px 0;">
            <label>家庭人数:</label>
            <select required class="easyui-combobox" name="userPersonNum" style="width:300px;">
                <option selected value="3">3人以下</option>
                <option value="6">3-6人</option>
                <option value="8">6人以上</option>
            </select>
            <label>家庭欠债情况:</label>
            <select required class="easyui-combobox" name="userDueData" style="width:300px;">

                <option selected value="无欠债">无欠债</option>
                <option value="8000以下">8000以下</option>
                <option value="8000-2w">8000-2w</option>
                <option value="2-5w">2-5w</option>
                <option value="5w-8w">5w-8w</option>
                <option value="8w以上">8w以上</option>
            </select>
        </div>



        <div style="margin: 20px 0;">
            <label>家庭受自然灾害的情况:</label>
            <select required class="easyui-combobox" name="userFamilyDisaster" style="width:300px;">
                <option selected value="无欠债">无灾害</option>
                <option  value="8000以下">地震</option>
                <option value="8000-2w">海啸</option>
                <option value="2-5w">其他（在申请理由中进行说明）</option>
            </select>
        </div>


        <div style="margin: 20px 0;">
            <label>申请理由:</label>
<!--            <input required th:value="${userFamilyInfo.getUserFamilyDescribe()}" name="userFamilyDescribe" class="easyui-validatebox" data-options="validType:'chinese'"-->
<!--                   style="width:300px;height: 100px;">-->
            <textarea rows="10" cols="38" required name="userPovertyIdentificationReason" id="userPovertyIdentificationReason" class="easyui-validatebox" data-options="validType:'chinese'"/>

            <br></div>

        <input  id="addPovertysubmit" type="button"  value="点击申请">

    </div>
</form>

<script>
    $(function () {
        // $("#ff").ajaxForm(function (data) {
        //     console.log(data);
        //     console.log("str:" + JSON.stringify(data));
        // });
        $("#userPovertyIdentificationReason").val("");

        //发送表单ajax请求
        $('#addPovertysubmit').on('click',function() {
            console.log("进入申请的方法！");
            $.ajax({
                url: "/user/add/poverty/identification",
                type: "POST",
                data: JSON.stringify($('#addPovertyIdentification').serializeObject()),
                contentType: "application/json",  //缺失会出现URL编码，无法转成json对象
                success: function (res) {
                    alert(res.message);
                    location.reload();
                }
            });
        });
        /**
         * 自动将form表单封装成json对象
         */
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    });
</script>
</body>
</html>