<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>管理员修改密码</title>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.5/themes/icon.css">
    <script type="text/javascript" src="jquery-easyui-1.5/jquery.min.js">
    </script>
    <script type="text/javascript" src="js/jquery.form.min.js">
    </script>
    <script type="text/javascript" src="jquery-easyui-1.5/jquery.easyui.min.js">
    </script>

</head>
<body>
<form id="adminModityPassWordForm" method="post" action="modify/admin/pass">
    <div class="inner" style="text-align: center">
        <div style="margin: 20px 0";>
            <label>原始密码:</label>
            <input   required name="adminOldPass" type="password" class="easyui-validatebox" data-options="validType:'integer'"
        style="width:300px">
        </div>
        <div style="margin: 20px 0;">
            <label>新密码:</label>
            <input  required  name="adminNewPass" type="password" class="easyui-validatebox" data-options="validType:'integer'"
                   style="width:300px">
            <br>
        </div>
        <input  id="tecaherModityPassWord" type="submit"  value="确认修改">
    </div>
</form>

<script>
    $(function () {
        /** 验证文件是否导入成功  */
        $("#adminModityPassWordForm").ajaxForm(function(res){
            if(res.result == "SUCCESS"){
                alert("修改成功！");
                $("#tt").tabs('close','管理员修改密码');
            }else {
                alert(res.message);
                $("#adminOldPass").val("");
                $("#adminNewPass").val("");
            }
        });
    });
</script>
</body>
</html>